<div class="container">
    <div class="top-quarter">
        <h4 class="blue-text">The table shows real data of exchange rates updated in real time:</h4>

    </div>
    <div class="middle">
        <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" optionLabel="name"
            placeholder="Select a Currency" (onChange)="onCurrencySelect()"> </p-dropdown>

        <div class="spacer"></div>

        <p-table [value]="exchangeRates" class="p-datatable custom-table">
            <ng-template pTemplate="header">
                <tr>
                    <th>Base</th>
                    <th pSortableColumn="currency">Target <p-sortIcon field="currency"></p-sortIcon></th>
                    <th pSortableColumn="rate">Exchange Rate <p-sortIcon field="rate"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rate>
                <tr>
                    <td>{{ selectedCurrency?.name }}</td>
                    <td> {{ rate.currency }}</td>
                    <td>{{ rate.rate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="bottom-quarter"></div>
</div>